### Question 1

#### Consider the following Python module: After importing the module into the interpreter, you execute: >>> b() b() b() a What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [12]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [13]:
b()

##### a = 2, After executing the function b() first time, the value of 'a' that was initiated as 0, is imcremented by 2, as we have declared 'a' as global variable, function c(a) is called inside b(), since the value of global 'a' is 0, c(a) returns the value 0+2 which is made equal to the variable 'a'.Hence the value of a is 2.

In [14]:
b()

##### a = 4 this time since the value of 'a' was 2 after the execution, now by following the same logic as above, the value of 'a' is again incremented by 2 and now a is equal to 4

In [15]:
b()

In [16]:
a

6

##### a = 6, after the last execution, again value of 2 is added and now the final value of a is 6.

### Question 2

##### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file. If the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

In [6]:
def fileLength(fileName):
    try:
        file = open(fileName)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print('File "' + fileName + '" not found.')

In [7]:
pwd #checking the directory

'C:\\Users\\hp'

In [9]:
cd \Users\hp\Downloads #changing the directory

C:\Users\hp\Downloads

In [10]:
fileLength('file.py')

464

In [11]:
fileLength('program.py')

File "program.py" not found.

### Question 3

##### Write a class named Marsupial that can be used as shown below: >>> m = Marsupial() >>> m.put_in_pouch('doll') >>> m.put_in_pouch('firetruck') >>> m.put_in_pouch('kitten') >>> m.pouch_contents() ['doll', 'firetruck', 'kitten'] Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object, b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and c. overloads the str operator so it behaves as shown below.

In [18]:
class Marsupial: 
    def __init__(self): 
        self.data = [] 

    def put_in_pouch(self,thing): 
        self.data.append(thing) 

    def pouch_contents(self):
        return self.data

class Kangaroo(Marsupial): 
    def __init__(self,x,y):
        self.x = x
        self.y = y
        Marsupial.__init__(self)

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

    def jump(self, dx,dy):
        self.x += dx
        self.y += dy

In [25]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [26]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [27]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [28]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

### Question 4

##### Implement a new GUI class App that combines user-defined tkinter widget classes Calculator and Mortgage.

In [11]:
from tkinter import * 
import math



root = Tk()
cal = Frame(root)
cal.grid()

#display for the calculator
root.title("Calculator")
text_box = Entry(cal, justify=RIGHT,width=28,font="Times 15 bold")
text_box.grid(row = 0, column = 0,columnspan = 10,padx=0, pady = 30)
text_box.insert(0, "0")

#Loan amont button and display
text_box = Entry(cal, justify=RIGHT,width=23,font="Times 15 bold")
text_box.grid(row = 1, column = 6,columnspan = 10,padx=0, pady = 0)
loanamount = Button(cal,height =1,width=16,padx=0, pady = 0, text = "Loan Amount:",bg="white")
loanamount.grid(row = 1, column = 7, padx=0, pady = 0)

#Interest rate button and display
text_box = Entry(cal, justify=RIGHT,width=23,font="Times 15 bold")
text_box.grid(row = 2, column = 6,columnspan = 10,padx=0, pady = 0)
loanamount = Button(cal,height =1,width=16,padx=0, pady = 0, text = "Interest Rate:",bg="white")
loanamount.grid(row = 2, column = 7, padx=0, pady = 0)

#Loan Terms button and display
text_box = Entry(cal, justify=RIGHT,width=23,font="Times 15 bold")
text_box.grid(row = 3, column = 6,columnspan = 10,padx=0, pady = 0)
loanamount = Button(cal,height =1,width=16,padx=0, pady = 0, text = "Loan Terms:",bg="white")
loanamount.grid(row = 3, column = 7, padx=0, pady = 0)

#Compute Mortgage button and display
text_box = Entry(cal, justify=RIGHT,width=23,font="Times 15 bold")
text_box.grid(row = 4, column = 6,columnspan = 10,padx=0, pady = 0)
loanamount = Button(cal,height =1,width=16,padx=0, pady = 0, text = "Compute Mortgage:",bg="white")
loanamount.grid(row = 4, column = 7, padx=0, pady = 0)

        
#other buttons for the calculator
bttn_0 = Button(cal,height =2,width=4,padx=10, pady = 10, text = "0",bg="white")

bttn_0.grid(row = 5, column = 1,  padx=1, pady = 1)

div = Button(cal,height =2,width=4,padx=10, pady = 10, text = "/",bg="white")

div.grid(row = 5, column = 3, padx=1, pady = 1)

mult = Button(cal,height =2,width=4,padx=10, pady = 10, text = "*",bg="white")

mult.grid(row = 2, column = 3,  padx=1, pady = 1)

minus = Button(cal,height =2,width=4,padx=10, pady = 10, text = "-",bg="white")

minus.grid(row = 3, column = 3, padx=1, pady = 1)

add = Button(cal,height =2,width=4,padx=10, pady = 10, text = "+",bg="white")

add.grid(row = 4, column = 3,  padx=1, pady = 1)

point = Button(cal,height =2,width=4,padx=10, pady = 10, text = ".",bg="white")

point.grid(row = 5, column = 2, padx=1, pady = 1)

neg= Button(cal,height =2,width=4,padx=10, pady = 10, text = "+/-",bg="white")
neg.grid(row = 5, column = 0,  padx=1, pady = 1)

clear = Button(cal,height =2,width=4,padx=10, pady = 10, text = "C",bg="white")

clear.grid(row = 5, column = 4,  padx=1, pady = 1)

all_clear = Button(cal,height =2,width=4,padx=10, pady = 10, text = "AC",bg="white")

all_clear.grid(row = 1, column = 4, padx=1, pady = 1)

equals = Button(cal,height =2,width=4,padx=10, pady = 10, text = "=",bg="white")

equals.grid(row = 2, column = 4,padx=1, pady = 1)

mplus = Button(cal,height =2,width=4,padx=10, pady = 10, text = "M+",bg="white")

mplus.grid(row = 1, column = 2,padx=1, pady = 1)

mrecall = Button(cal,height =2,width=4,padx=10, pady = 10, text = "MR",bg="white")

mrecall.grid(row = 1, column = 0,padx=1, pady = 1)

mclear = Button(cal,height =2,width=4,padx=10, pady = 10, text = "MC",bg="white")

mclear.grid(row = 1, column = 1,padx=1, pady = 1)

mminus = Button(cal,height =2,width=4,padx=10, pady = 10, text = "M-",bg="white")

mminus.grid(row = 1, column = 3,padx=1, pady = 1)

sqroot = Button(cal,height =2,width=4,padx=10, pady = 10, text = "√",bg="white")

sqroot.grid(row = 3, column = 4, padx=1, pady = 1)

power = Button(cal,height =2,width=4,padx=10, pady = 10, text = "x^2",bg="white")

power.grid(row = 4, column = 4, padx=1, pady = 1)

num = Button(cal,height =2,width=4,padx=10, pady = 10, text = "7",bg="white")

num.grid(row = 2, column = 0,  padx=1, pady = 1)

num = Button(cal,height =2,width=4,padx=10, pady = 10, text = "8",bg="white")

num.grid(row = 2, column = 1,  padx=1, pady = 1)

num = Button(cal,height =2,width=4,padx=10, pady = 10, text = "9",bg="white")

num.grid(row = 2, column = 2,  padx=1, pady = 1)

num = Button(cal,height =2,width=4,padx=10, pady = 10, text = "4",bg="white")

num.grid(row = 3, column = 0,  padx=1, pady = 1)

num = Button(cal,height =2,width=4,padx=10, pady = 10, text = "5",bg="white")

num.grid(row = 3, column = 1,  padx=1, pady = 1)

num = Button(cal,height =2,width=4,padx=10, pady = 10, text = "6",bg="white")

num.grid(row = 3, column = 2,  padx=1, pady = 1)

num = Button(cal,height =2,width=4,padx=10, pady = 10, text = "1",bg="white")

num.grid(row = 4, column = 0,  padx=1, pady = 1)

num = Button(cal,height =2,width=4,padx=10, pady = 10, text = "2",bg="white")

num.grid(row = 4, column = 1,  padx=1, pady = 1)

num = Button(cal,height =2,width=4,padx=10, pady = 10, text = "3",bg="white")

num.grid(row = 4, column = 2,  padx=1, pady = 1)

root.mainloop()

### Question 5

##### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:x = 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛/ 3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑. Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [41]:
def collatz(x):
    if(x == 1): 
        return (x) 
    elif (x % 2 == 0):
        print(int(x)) 
        collatz(x/2)      #if value is even
    else:
        print(int(x))  
        collatz(3*x + 1 ) #if value is odd

In [42]:
collatz(1)

1

In [43]:
collatz(10)

10
5
16
8
4
2

### Question 6

##### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [19]:
def binary(n):
    
    if n < 2:
        n = n
    else:
        binary(n // 2)
    print(n % 2, end="")

In [20]:
binary(0)

0

In [21]:
binary(1)

1

In [22]:
binary(3)

11

In [23]:
binary(9)

1001

### Question 7

##### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [78]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        self.flag = False
        self.indent = 0
        self.stack = []
        super().__init__()

    def handle_starttag(self, tag, attrs):
        if(tag[0] == 'h' and tag[1] <='6' and tag[1] > '0' and len(tag) == 2):
            self.stack.append('')

    def handle_endtag(self, tag):
        if (tag[0] == 'h' and tag[1] <= '6' and tag[1] > '0' and len(tag) == 2):
            indent = int(tag[1]) - 1
            for i in range(0,indent):
                print("\t",end='')
            print(self.stack.pop())

    def handle_data(self, data):
        if(len(self.stack) != 0):
            str = self.stack.pop()
            str+=data
            self.stack.append(str)

In [79]:
pwd

'C:\\Users\\hp\\Downloads'

In [80]:
cd \Users\hp\Downloads

C:\Users\hp\Downloads

In [81]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = headingparser()
hp.feed(content)

W3C Mission
	Principles

### Question 8
##### Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [9]:
from urllib.request import Request, urlopen
from html.parser import HTMLParser

class Collector(HTMLParser):
    def __init__(self, url):
        HTMLParser__init__(self)
        self.url = url
        self.links = []
        
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
    
    def getLinks(self):
        return self.links
    
def analyze(url):
    webpage = urlopen(req, timeout=10).read().decode()
    collector = collector(url)
    collector.feed(webpage)
    urls = collector.getLinks()
    return urls

def webdir(url, depth, indent):
    if (depth == 2):
        return
    try:
        pages = analyze(url)
    except:
        return
    for x in range(0,indent):
        print('\t',end='')
    print(url)

In [10]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

### Question 9

In [1]:
%load_ext sql

In [2]:
%sql sqlite://

In [3]:
%%sql
CREATE Table DATA(City varchar(50),Country varchar(50),Season varchar(50),'Temperature_C','Rainfall_mm');
INSERT INTO DATA VALUES('Mumbai','India','Winter','24.8','5.9');
INSERT INTO DATA VALUES('Mumbai','India','Spring','28.4','16.2');
INSERT INTO DATA VALUES('Mumbai','India','Summer','27.9','1549.4');
INSERT INTO DATA VALUES('Mumbai','India','Fall','27.6','346.0');
INSERT INTO DATA VALUES('London','United Kingdom','Winter','4.2','207.7');
INSERT INTO DATA VALUES('London','United Kingdom','Spring','8.3','169.6');
INSERT INTO DATA VALUES('London','United Kingdom','Summer','15.7','157.0');
INSERT INTO DATA VALUES('London','United Kingdom','Fall','10.4','218.5');
INSERT INTO DATA VALUES('Cairo','Egypt','Winter','13.6','16.5');
INSERT INTO DATA VALUES('Cairo','Egypt','Spring','20.7','6.5');
INSERT INTO DATA VALUES('Cairo','Egypt','Summer','27.7','0.1');
INSERT INTO DATA VALUES('Cairo','Egypt','Fall','22.2','4.5');

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [4]:
%sql SELECT * from DATA

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', '24.8', '5.9'),
 ('Mumbai', 'India', 'Spring', '28.4', '16.2'),
 ('Mumbai', 'India', 'Summer', '27.9', '1549.4'),
 ('Mumbai', 'India', 'Fall', '27.6', '346.0'),
 ('London', 'United Kingdom', 'Winter', '4.2', '207.7'),
 ('London', 'United Kingdom', 'Spring', '8.3', '169.6'),
 ('London', 'United Kingdom', 'Summer', '15.7', '157.0'),
 ('London', 'United Kingdom', 'Fall', '10.4', '218.5'),
 ('Cairo', 'Egypt', 'Winter', '13.6', '16.5'),
 ('Cairo', 'Egypt', 'Spring', '20.7', '6.5'),
 ('Cairo', 'Egypt', 'Summer', '27.7', '0.1'),
 ('Cairo', 'Egypt', 'Fall', '22.2', '4.5')]

#### Write SQL queries on the above database table that return: 
#### a) All the temperature data.

In [5]:
%sql SELECT Temperature_C from DATA

 * sqlite://
Done.

[('24.8',),
 ('28.4',),
 ('27.9',),
 ('27.6',),
 ('4.2',),
 ('8.3',),
 ('15.7',),
 ('10.4',),
 ('13.6',),
 ('20.7',),
 ('27.7',),
 ('22.2',)]

#### b) All the cities, but without repetition.

In [6]:
%sql SELECT DISTINCT City from DATA

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

#### c) All the records for India.

In [7]:
%sql SELECT * from DATA WHERE Country='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', '24.8', '5.9'),
 ('Mumbai', 'India', 'Spring', '28.4', '16.2'),
 ('Mumbai', 'India', 'Summer', '27.9', '1549.4'),
 ('Mumbai', 'India', 'Fall', '27.6', '346.0')]

#### d) All the Fall records

In [8]:
%sql SELECT * from DATA WHERE Season='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', '27.6', '346.0'),
 ('London', 'United Kingdom', 'Fall', '10.4', '218.5'),
 ('Cairo', 'Egypt', 'Fall', '22.2', '4.5')]

#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [12]:
%sql SELECT City,Country,Season from DATA WHERE Rainfall_mm BETWEEN '200' AND '400';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall'),
 ('Cairo', 'Egypt', 'Fall')]

#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [4]:
%sql SELECT City,Country from DATA WHERE Season = 'Fall' AND Temperature > '20' ORDER BY Temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

#### g) The total annual rainfall for Cairo.

In [20]:
%sql SELECT Total(Rainfall_mm) from DATA WHERE City = 'Cairo';

 * sqlite://
Done.

[(27.6,)]

#### h) The total rainfall for each season.

In [21]:
%sql SELECT Season,Total(Rainfall_mm) from DATA Group By Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

### Question 10

#### Suppose list words is defined as follows:
#### >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
#### Write list comprehension expressions that use list words and generate the following lists:

#### a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [37]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
wordlist = [w.upper() for w in words]
print(wordlist)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [38]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
wordlist = [w.lower() for w in words]
print(wordlist)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [39]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
wordlist = [len(w) for w in words]
print(wordlist)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [40]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
wordlist = [[w.upper(), w.lower(), len(w)] for w in words]
print(wordlist)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters)

In [41]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
wordlist = [w for w in words if len(w) > 3]
print(wordlist)

['quick', 'brown', 'jumps', 'over', 'lazy']